{% load static %}
<div id="wb_slidshow-grid">
<div id="slidshow-grid">
<div class="row">
<div class="col-1">
<div id="wb_slidshow" style="">
<div id="slidshow" class="carousel slide" data-bs-ride="carousel">
<ol class="carousel-indicators">
<li data-bs-target="#slidshow" data-bs-slide-to="0" class="active"></li>
<li data-bs-target="#slidshow" data-bs-slide-to="1"></li>
<li data-bs-target="#slidshow" data-bs-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item frame-1 active">
<div class="carousel-item-inner">
<div id="wb_welcome-text1">
<p style="font-size:24px;line-height:27.5px;"><span style="font-size:21px;line-height:24.5px;">محصولات جدید 2023</span></p>
</div>
<div id="wb_welcome-text2">
<p style="font-size:13px;line-height:16px;"><span style="font-size:27px;line-height:30px;font-weight:bold;">25 درصد تخفیف اولین خرید</span></p>
</div>
<a id="welcome-button1" href="#categoriesLayoutGrid1" target="_blank" style="display:inline-block;width:170px;height:37px;z-index:18;">با چوب بساز</a>
</div>
</div>
<div class="carousel-item frame-2">
<div class="carousel-item-inner">
<div id="wb_welcome-text3">
<p>NEW INSPIRATION 2021</p>
</div>
<div id="wb_welcome-text4">
<p style="font-weight:bold;">25% OFF ON NEW SEASON</p>
</div>
<a id="welcome-button2" href="#categoriesLayoutGrid1" target="_blank" style="display:inline-block;width:170px;height:37px;z-index:21;">Browse Collections</a>
</div>
</div>
<div class="carousel-item frame-3">
<div class="carousel-item-inner">
<div id="wb_welcome-text5">
<p>NEW INSPIRATION 2021</p>
</div>
<div id="wb_welcome-text6">
<p style="font-weight:bold;">25% OFF ON NEW SEASON</p>
</div>
<a id="welcome-button3" href="#categoriesLayoutGrid1" target="_blank" style="display:inline-block;width:170px;height:37px;z-index:24;">Browse Collections</a>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
<div id="wb_filter-grid">
<div id="filter-grid">

  <div class="row">
  <div class="col-1">
  </div>
  <div class="col-2">
  <button type="button" id="ThemeableButton2" onclick="filterSelection('all')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:37;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text5">
  <span style="color:#000000;font-family:Vazir;font-size:13px;">همه</span>
  </div>
  </div>
  <div class="col-3">
  <button type="button" id="ThemeableButton1" onclick="filterSelection('childroom')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:39;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text4">
  <span style="color:#000000;font-family:Vazir;font-size:12px;">اتاق کودک</span>
  </div>
  </div>
  <div class="col-4">
  <button type="button" id="ThemeableButton3" onclick="filterSelection('table-chair')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:41;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text6">
  <span style="color:#000000;font-family:Vazir;font-size:13px;">نهارخوری</span>
  </div>
  </div>
  <div class="col-5">
  <button type="button" id="ThemeableButton4" onclick="filterSelection('consul')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:43;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text7">
  <span style="color:#000000;font-family:Vazir;font-size:13px;">کنسول</span>
  </div>
  </div>
  <div class="col-6">
  <button type="button" id="ThemeableButton5" onclick="filterSelection('drawer')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:45;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text8">
  <span style="color:#000000;font-family:Vazir;font-size:13px;">دراور</span>
  </div>
  </div>
  <div class="col-7">
  <button type="button" id="ThemeableButton6" onclick="filterSelection('tvtable')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:47;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text9">
  <span style="color:#000000;font-family:Vazir;font-size:11px;">میزتلویزیون</span>
  </div>
  </div>
  <div class="col-8">
  <button type="button" id="ThemeableButton7" onclick="filterSelection('mirror')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:49;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text10">
  <span style="color:#000000;font-family:Vazir;font-size:13px;">آینه</span>
  </div>
  </div>
  <div class="col-9">
  <button type="button" id="ThemeableButton8" onclick="filterSelection('bed')" name="" value="" class="ui-button ui-corner-all" style="display:inline-block;width:50px;height:58px;z-index:51;"><span class="ui-button-icon-space"> </span><span class="ui-button-icon ui-icon ui-secondary"></span></button>
  <div id="wb_Text11">
  <span style="color:#000000;font-family:Vazir;font-size:11px;">تخت خواب</span>
  </div>
  </div>
  <div class="col-10">
  </div>
  </div>

</div>
</div>
<div id="wb_product-grid">
<div id="product-grid">
<div class="row">
<div class="col-1">

    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column bed">
        <div class="content">



            <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
               <div id="trendingCard4-card-body">
                  <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="bed" title="">
                  <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                  <hr id="trendingCard4-card-item2">
                  <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                  <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                  <div id="trendingCard4-card-item6">12/000/000 تومان</div>
               </div>
            </div>



        </div>
      </div>
      <div class="column childroom">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="childroom" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="product/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>
      <div class="column table-chair">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="table-chair" title="">
                <div id="trendingCard4-card-item1"><a href="product/" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>

      <div class="column consul">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="consul" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>
      <div class="column drawer">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="drawer" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>
      <div class="column tvtable">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="tvtable" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>

      <div class="column bed">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="bed" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>
      <div class="column mirror">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a2.jpg' %}" alt="bed" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">مبل هانیه</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>
      <div class="column drawer">
        <div class="content">

          <div id="wb_trendingCard4" style="display:inline-block;z-index:55;overflow:hidden" class="card">
             <div id="trendingCard4-card-body">
                <img id="trendingCard4-card-item0" src="{% static '/a1.jpg' %}" alt="bed" title="">
                <div id="trendingCard4-card-item1"><a href="index.html" title="Quick View"><i class="fa fa-search"></i>&nbsp;&nbsp;مشاهده بیشتر </a></div>
                <hr id="trendingCard4-card-item2">
                <div id="trendingCard4-card-item3" data-ecommerce-platform="paypal" data-business="" data-item-name="Product 0001" data-item-number="SKU0001" data-amount="39.99" data-currency-code="USD" data-success-url="http://www.yourwebsite.com/" data-cancel-url="http://www.yourwebsite.com/" data-cmd="_cart"><a href="#" title="Add to cart"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;اضافه به سبد خرید </a></div>
                <div id="trendingCard4-card-item4">Women's T-Shirt</div>
                <div id="trendingCard4-card-item6">12/000/000 تومان</div>
             </div>
          </div>

        </div>
      </div>

    </div>
    <!-- END GRID -->
</div>
</div>
</div>
</div>
