{% load static %}
<div id="wb_footer-grid">
<div id="footer-grid">
<div class="row">
<div class="col-1">
<div id="wb_footer" style="z-index: 10000 !important;">
<div id="footer">
<div class="row">
<div class="col-1">
<div id="wb_FontAwesomeIcon20" style="display:inline-block;width:28px;height:28px;text-align:center;z-index:51;">
<a href="./index.html"><div id="FontAwesomeIcon20"><i class="fa fa-facebook"></i></div></a>
</div>
<div id="wb_FontAwesomeIcon21" style="display:inline-block;width:28px;height:28px;text-align:center;z-index:52;">
<a href="./index.html"><div id="FontAwesomeIcon21"><i class="fa fa-twitter"></i></div></a>
</div>
<div id="wb_FontAwesomeIcon22" style="display:inline-block;width:28px;height:28px;text-align:center;z-index:53;">
<a href="./index.html"><div id="FontAwesomeIcon22"><i class="fa fa-youtube-play"></i></div></a>
</div>
<div id="wb_FontAwesomeIcon23" style="display:inline-block;width:28px;height:28px;text-align:center;z-index:54;">
<a href="./index.html"><div id="FontAwesomeIcon23"><i class="fa fa-rss"></i></div></a>
</div>
<label for="shoping-grid" id="Label10" style="display:inline-block;width:113px;line-height:26px;z-index:55;">آدرس</label>
<div id="wb_Text17">
<p style="font-weight:bold;">#28, 3nd floor, WYSIWYG Plaza<br/>Web City, Builder, WB 1969</p>
<p style="font-weight:bold;">Phone: 100 121 34567</p>
<p style="font-weight:bold;">Fax: 100 121 34568</p>
<p style="font-weight:bold;">Email: info@wysiwygmail.com</p>
</div>
</div>
<div class="col-2">
<div id="wb_Heading9" style="display:inline-block;width:100%;z-index:57;">
<h3 id="Heading9">محصولات</h3>
</div>
<div id="wb_Text3">
<span style="color:#FFFFFF;font-family:'Vazir FD';font-size:13px;"><strong>تخت خواب</strong></span>
</div>
<div id="wb_Text12">
<span style="color:#FFFFFF;font-family:'Vazir FD';font-size:13px;"><strong>کنسول</strong></span>
</div>
<div id="wb_Text13">
<span style="color:#FFFFFF;font-family:'Vazir FD';font-size:13px;"><strong>اتاق کودک</strong></span>
</div>
<div id="wb_Text14">
<span style="color:#FFFFFF;font-family:'Vazir FD';font-size:13px;"><strong>اتاق کودک</strong></span>
</div>
<div id="wb_Image4" style="display:inline-block;width:170px;height:161px;z-index:62;">
<img src="images/logo03.png" id="Image4" alt="" width="170" height="162">
</div>
</div>
<div class="col-3">
<label for="shoping-grid" id="Label8" style="display:inline-block;width:121px;line-height:26px;z-index:63;">ارتباط با ما</label>
<input type="text" id="Editbox7" style="display:block;width: 100%;height:38px;z-index:64;" name="نام" value="" spellcheck="false" placeholder="نام">
<input type="text" id="Editbox6" style="display:block;width: 100%;height:38px;z-index:65;" name="ایمیل" value="" spellcheck="false" placeholder="ایمیل">
<textarea name="پیام شما" id="TextArea2" style="display:block;width: 100%;;height:85px;z-index:66;" rows="1" cols="27" spellcheck="false" placeholder="پیام خود را وارد کنید"></textarea>
<input type="submit" id="Button5" name="" value="ارسال" style="display:inline-block;width:97px;height:34px;z-index:67;">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="{% static 'js/minicart.min.js' %}"></script>
<script src="{% static 'js/filterSelection.js' %}"></script>
